<div class="my-info">
  <span>Chào</span>
  <%= @user&.name %>
</div>

<div class="my-info">
  <span>Mã giới thiệu của bạn là:</span>
  <%= @user&.invited_code %>
</div>

<div class="my-info">
  <span>Số coin hiện tại:</span>
  <%= @user&.coin %>
</div>

<div>
  <%= form_with(url: invited_code_path(@user.id), class: "row g-3 the-form") do |form|%>
    <span class="mb-3 col-auto form-label">Nhập mã giới thiệu:</span>
    <div class="mb-3 col-auto">
      <%= form.text_field :invited_code, class: "form-control" %>
    </div>
    <div class="mb-3 col-auto">
      <%= form.submit "Nhập code", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>

<%= render partial: "list_users", locals: {users: @users}%>
